@import url('https://fonts.googleapis.com/css?family=Roboto');

.Roboto{
    font-family: 'roboto';
}
body{
    margin: 0%;
    padding: 0%;
    background-image: url("image/test-background.jpg");
    background-size: 60%;
}
.shadow-design {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow-design:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button-green{
    background-image: linear-gradient(90deg,#86c03f ,#008c45);
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

/* navbar */
.nav-item{
    margin-left: 20%;
}
#NavPosition{
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 99;
}
.navbar-expand-lg{
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-toggler{
    margin-right: 10% !important;
}
#login-navbar{
    border-radius: 25px;
    padding: 5px 30px;
}
/* navbar */

/* login */
form{
    padding: 0 30px;
}
/* .form-group{
    margin-top: 20px;
} */
.form-group>input, .col>input{
    border-radius: 25px;
}
.modal-body>div>img{
    width: 50%;
    height: auto;
}
#popup-login{
    border-radius: 25px;
    padding: 5px 30px;
}
#popup-register{
    border-radius: 25px;
    padding: 5px 30px;
}
/* login */

/* Fill Search */
#SearchFilltext{
    width:800px; 
    margin:150px auto;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
/* Fill Search */

/*SomeText*/
#SomeText{
    color: black;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;

}
/*SomeText*/

/* Show Goods */
#ShowGoods{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 2% 3%;
}
.type-goods{
    height: 200px;
    background-size: 130%;
    background-position: center;
}
.card-title{
    text-align: center;
    color: #777777;
    font-size: 1.5em;
}
/* Show Goods */

/* ShowMore */
#ShowMore{
    text-align: center;
    background-color: #86c03f;
    margin: 30px;
}
/* ShowMore */

