div, img, a{
    border: 1px solid black;
}

body{
    margin: 0%;
    padding: 0%;
    background-image: url("image/test-background.jpg");
    background-size: 60%;
}
.shadow-design {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow-design:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* navbar */
.nav-item{
    margin-left: 160px;
}
#NavPosition{
    position: fixed;
    top: 0%;
    z-index: 99;
}
.navbar-expand-lg{
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-toggler{
    margin-right: 10% !important;
}
#login-navbar{
    margin-left:70px;
    margin-top: 3px;
    background-image: linear-gradient(90deg,yellow ,#008c45);
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    padding: 5px 30px;
    font-size: 1em;
}
/* navbar */

/* Fill Search */
#SearchFilltext{
    width:800px; 
    margin:150px auto;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
/* Fill Search */

/*SomeText*/
#SomeText{
    color: black;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;

}
/*SomeText*/

/* Show Goods */
#ShowGoods{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 2%;
}
/* Show Goods */

/* ShowMore */
#ShowMore{
    /* align-items: center; */
    text-align: center;
    background-color: #86c03f;
}
/* ShowMore */

