body{
    margin: 0%;
    padding: 0%;
    background-image: url("image/test-background.jpg");
    background-size: 50%;
}

.nav-item{
    margin-right: 200px;
}
#NavPosition{
    position: fixed;
    top: 0%;
}

#SearchFilltext{
    width:800px; 
    margin:150px auto;
    
    /* width: 60%; */
    /* position: absolute; */
    /* top: 100px; */
    /* align-content: center; */
}

#ShowGoods{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 2%;
}


.navbar-expand-lg{
    /* background: none !important; */
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-toggler{
    margin-right: 10% !important;
}